<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>
 
    <h2>Registrar Usuário<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Nome" name="name">
        <input type="text" placeholder="Sobrenome" name="surname">
        <button type="submit">Submit</button>
    </form> 

    <h2>Registrar Produto<h2>
      <form action="/showProduto" method="POST">
          <input type="text" placeholder="Nome" name="nome">
          <input type="number" placeholder="Preço" name="preco">
          <input type="number" placeholder="Quantidade" name="quantidade">
          <input type="date" placeholder="Data de cadastro" name="data">
          <input type="text" placeholder="Cor" name="cor">
          <button type="submit">Submit</button>
      </form> 
 
</body>
</html>